In [1580]:
from pathlib import Path
import pandas as pd
import tensorflow as tf
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [1862]:
file_path = Path("archive/movies.csv")
df_movie = pd.read_csv(file_path)

In [1863]:
df_movie["released"] = df_movie["released"].str.split("\s+\(").str[0]

df_movie["released"] = pd.to_datetime(df_movie['released'])

In [1864]:
df_movie ["released"] = df_movie["released"].dt.month_name()

In [1865]:
df_movie.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,cpi
0,The Shining,R,Drama,1980,June,8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,0.31841
1,The Blue Lagoon,R,Adventure,1980,July,5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,0.31841
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,June,8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,0.31841
3,Airplane!,PG,Comedy,1980,July,7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,0.31841
4,Caddyshack,R,Comedy,1980,July,7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,0.31841

In [1866]:
df_movie = df_movie.drop(columns=['score', 'votes'])

In [1867]:
df_movie.head()

,name,rating,genre,year,released,director,writer,star,country,budget,gross,company,runtime,cpi
0,The Shining,R,Drama,1980,June,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,0.31841
1,The Blue Lagoon,R,Adventure,1980,July,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,0.31841
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,June,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,0.31841
3,Airplane!,PG,Comedy,1980,July,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,0.31841
4,Caddyshack,R,Comedy,1980,July,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,0.31841

In [1868]:
df_movie['trixbudget']= df_movie['gross'] - 3*df_movie['budget']

In [1869]:
df_movie['title_char'] = df_movie['name'].str.len()

In [1870]:
df_movie['sequel'] = df_movie['name'].str.extract('(^\d*)')

df_movie['sequels']=df_movie['sequel'].isin([""]).astype(int)

df_movie = df_movie.drop(columns=['sequel'])

In [1871]:
#df_movie['cpi_budget'] = df_movie['budget']/df_movie['cpi']

In [1872]:
#df_movie['director_number'] = df_movie.groupby('director')['director'].transform('count')
#df_movie['writer_number'] = df_movie.groupby('writer')['writer'].transform('count')
#df_movie['star_number'] = df_movie.groupby('star')['star'].transform('count')

In [1873]:
df_movie.head()

,name,rating,genre,year,released,director,writer,star,country,budget,gross,company,runtime,cpi,trixbudget,title_char,sequels
0,The Shining,R,Drama,1980,June,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,0.31841,-10001228.0,11,1
1,The Blue Lagoon,R,Adventure,1980,July,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,0.31841,45353106.0,15,1
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,June,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,0.31841,484375067.0,46,1
3,Airplane!,PG,Comedy,1980,July,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,0.31841,72953539.0,9,1
4,Caddyshack,R,Comedy,1980,July,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,0.31841,21846344.0,10,1

In [1874]:
#df_movie['director'] = df_movie['director_number'].apply(lambda x: 'One' if x <= 2 else df_movie['director'])

In [1875]:
df_movie['success'] = df_movie['trixbudget'].map(lambda x: x>0).astype(int)

In [1876]:
df_movie_clean = df_movie.drop(columns=['name', 'trixbudget', 'gross'])

In [1877]:
df_movie_clean.sort_values(by="year", ascending=False)

,rating,genre,year,released,director,writer,star,country,budget,company,runtime,cpi,title_char,sequels,success
7667,NaN,Horror,2020,August,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,PK 65 Films,102.0,1.00000,9,1,0
7655,TV-PG,Animation,2020,October,Teng Cheng,NaN,Guangtao Jiang,China,NaN,Beijing Enlight Pictures,110.0,1.00000,21,1,0
7643,PG-13,Action,2020,September,Christopher Nolan,Christopher Nolan,John David Washington,United States,205000000.0,Warner Bros.,150.0,1.00000,5,1,0
7645,R,Action,2020,February,Cathy Yan,Christina Hodson,Margot Robbie,United States,84500000.0,Clubhouse Pictures (II),109.0,1.00000,13,1,0
7646,R,Drama,2020,February,Leigh Whannell,Leigh Whannell,Elisabeth Moss,Canada,7000000.0,Universal Pictures,124.0,1.00000,17,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,PG,Drama,1980,September,Daniel Petrie,Lewis John Carlino,Ellen Burstyn,United States,NaN,Universal Pictures,103.0,0.31841,12,1,0
65,PG,Comedy,1980,February,Anne Bancroft,Anne Bancroft,Dom DeLuise,United States,NaN,Brooksfilms,93.0,0.31841,5,1,0
66,PG,Comedy,1980,February,Vladimir Menshov,Valentin Chernykh,Vera Alentova,Soviet Union,900000.0,Mosfilm,150.0,0.31841,32,1,0
67,PG,Comedy,1980,August,Piers Haggard,Rudy Dochtermann,Peter Sellers,United States,NaN,Braun Entertainment Group,100.0,0.31841,34,1,0
0,R,Drama,1980,June,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,Warner Bros.,146.0,0.31841,11,1,0

In [1878]:
df_movie_clean = df_movie_clean[df_movie_clean.budget > 15000000]

In [1879]:
df_movie_clean = df_movie_clean[df_movie_clean.year > 1985]
df_movie_clean.nunique()

rating           9
genre           14
year            35
released        12
director      1236
writer        2004
star           978
country         34
budget         221
company        687
runtime        122
cpi             35
title_char      57
sequels          2
success          2
dtype: int64

In [1880]:
df_movie_clean.to_csv('movie_data.csv', index = False)

In [1881]:
df_movie_success = df_movie.loc[df_movie['success'] == 1]

df_movie_failed = df_movie.loc[df_movie['success'] == 0]

In [1882]:
df_movie_clean = df_movie_clean.dropna()

In [1883]:
#director_one = df_movie_clean['director'].value_counts() < 2
#df_movie_clean.loc[df_movie_clean['director'].isin(director_one.index[director_one]), 'director'] = 'One'


director_other = df_movie_clean['director'].value_counts() < 15
df_movie_clean.loc[df_movie_clean['director'].isin(director_other.index[director_other]), 'director'] = 'others'

In [1884]:
#writer_one = df_movie_clean['writer'].value_counts() < 2
#df_movie_clean.loc[df_movie_clean['writer'].isin(writer_one.index[writer_one]), 'writer'] = 'one'

writer_other = df_movie_clean['writer'].value_counts() < 10
df_movie_clean.loc[df_movie_clean['writer'].isin(writer_other.index[writer_other]), 'writer'] = 'others'

In [1885]:
#star_one = df_movie_clean['star'].value_counts() < 2
#df_movie_clean.loc[df_movie_clean['star'].isin(star_one.index[star_one]), 'star'] = 'one'

star_other = df_movie_clean['star'].value_counts() < 15
df_movie_clean.loc[df_movie_clean['star'].isin(star_other.index[star_other]), 'star'] = 'others'

In [1886]:
country_other = df_movie_clean['country'].value_counts() < 50
df_movie_clean.loc[df_movie_clean['country'].isin(country_other.index[country_other]), 'country'] = 'others'

In [1887]:
company_other = df_movie_clean['company'].value_counts() < 150
df_movie_clean.loc[df_movie_clean['company'].isin(company_other.index[company_other]), 'company'] = 'others'

In [1888]:
rating_other = df_movie_clean['rating'].value_counts() < 100
df_movie_clean.loc[df_movie_clean['rating'].isin(rating_other.index[rating_other]), 'rating'] = 'others'

In [1889]:
genre_other = df_movie_clean['genre'].value_counts() < 20
df_movie_clean.loc[df_movie_clean['genre'].isin(genre_other.index[genre_other]), 'rating'] = 'others'

In [1890]:
#df_movie_clean.A.str.extract('(^\d*)')

In [1891]:
df_movie_clean.head()

,rating,genre,year,released,director,writer,star,country,budget,company,runtime,cpi,title_char,sequels,success
844,R,Action,1986,July,others,others,others,United Kingdom,18500000.0,Twentieth Century Fox,137.0,0.423506,6,1,1
848,PG,Adventure,1986,June,others,others,others,United Kingdom,25000000.0,others,101.0,0.423506,9,1,0
849,R,Action,1986,March,others,others,others,United Kingdom,16000000.0,others,116.0,0.423506,10,1,0
850,PG-13,Action,1986,July,others,others,others,United States,25000000.0,Twentieth Century Fox,99.0,0.423506,27,1,0
855,PG,Action,1986,August,others,others,others,United States,37000000.0,Universal Pictures,110.0,0.423506,15,1,0

In [1892]:
df_movie_clean.nunique()

rating          4
genre          14
year           35
released       12
director        8
writer          7
star           38
country         6
budget        221
company         6
runtime       122
cpi            35
title_char     57
sequels         2
success         2
dtype: int64

In [1893]:
df_movie_dummies = pd.get_dummies(df_movie_clean)

In [1894]:
df_movie_dummies.dtypes

year                               int64
budget                           float64
runtime                          float64
cpi                              float64
title_char                         int64
                                  ...
company_Paramount Pictures         uint8
company_Twentieth Century Fox      uint8
company_Universal Pictures         uint8
company_Warner Bros.               uint8
company_others                     uint8
Length: 102, dtype: object

In [1895]:
#df_movie_dummies['budget'] = df_movie_dummies['budget'].reshape(-1, 1)

In [1896]:
y = df_movie_dummies["success"]

X = df_movie_dummies.drop(columns=['success'])

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [1897]:
scaler = StandardScaler()

X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)

X_test_scaled = X_scaler.transform(X_test)

In [1936]:
nn_model = tf.keras.models.Sequential()
nn_model.add(tf.keras.layers.Dense(units=20, activation="sigmoid", input_dim=101))
nn_model.add(tf.keras.layers.Dense(units=6, activation="sigmoid"))
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

fit_model = nn_model.fit(X_train_scaled, y_train, epochs=10)


model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/10
76/76 [==============================] - 1s 2ms/step - loss: 0.6136 - accuracy: 0.6934
Epoch 2/10
76/76 [==============================] - 0s 2ms/step - loss: 0.6034 - accuracy: 0.6934
Epoch 3/10
76/76 [==============================] - 0s 2ms/step - loss: 0.5944 - accuracy: 0.6934
Epoch 4/10
76/76 [==============================] - 0s 2ms/step - loss: 0.5858 - accuracy: 0.6934
Epoch 5/10
76/76 [==============================] - 0s 2ms/step - loss: 0.5779 - accuracy: 0.6934
Epoch 6/10
76/76 [==============================] - 0s 1ms/step - loss: 0.5715 - accuracy: 0.7000
Epoch 7/10
76/76 [==============================] - 0s 1ms/step - loss: 0.5660 - accuracy: 0.7037
Epoch 8/10
76/76 [==============================] - 0s 2ms/step - loss: 0.5609 - accuracy: 0.7083
Epoch 9/10
76/76 [==============================] - 0s 1ms/step - loss: 0.5574 - accuracy: 0.7116
Epoch 10/10
76/76 [==============================] - 0s 1ms/step - loss: 0.5546 - accuracy: 0.7170
26/26 - 0s - loss: 0.5656 - accuracy: 0.7313 - 136ms/epoch - 5ms/step
Loss: 0.5656170845031738, Accuracy: 0.7313432693481445

In [1906]:
df_movie_clean.groupby(by="director").count().sort_values(by="success", ascending=False)["success"].head(20)

director
others              3080
Steven Spielberg      23
Clint Eastwood        22
Ridley Scott          20
Ron Howard            20
Woody Allen           18
Tim Burton            16
Robert Zemeckis       15
Name: success, dtype: int64

In [1900]:
df_movie_clean.groupby(by="writer").count().sort_values(by="success", ascending=False)["success"].head(100)

writer
others              3142
Woody Allen           18
Luc Besson            13
John Hughes           11
Ehren Kruger          10
Michael Crichton      10
Stephen King          10
Name: success, dtype: int64

In [1282]:
df_movie.groupby(by="star").count().sort_values(by="success", ascending=False)["success"].head(100)

star
Nicolas Cage         43
Tom Hanks            41
Robert De Niro       41
Denzel Washington    37
Bruce Willis         34
                     ..
Elijah Wood          13
Tom Berenger         13
Gary Oldman          13
Drew Barrymore       13
Jennifer Aniston     13
Name: success, Length: 100, dtype: int64