In [2595]:
from pathlib import Path
import pandas as pd
import tensorflow as tf
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [2962]:
file_path = Path("archive/movies.csv")
df_movie = pd.read_csv(file_path)

In [2963]:
df_movie["released"] = df_movie["released"].str.split("\s+\(").str[0]

df_movie["released"] = pd.to_datetime(df_movie['released'])

In [2964]:
df_movie ["released"] = df_movie["released"].dt.month_name()

In [2965]:
df_movie.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,cpi,ticket
0,The Shining,R,Drama,1980,June,8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,0.31841,2.52
1,The Blue Lagoon,R,Adventure,1980,July,5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,0.31841,2.52
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,June,8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,0.31841,2.52
3,Airplane!,PG,Comedy,1980,July,7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,0.31841,2.52
4,Caddyshack,R,Comedy,1980,July,7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,0.31841,2.52

In [2966]:
#df_movie = df_movie.drop(columns=['score', 'votes'])

In [2967]:
df_movie.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,cpi,ticket
0,The Shining,R,Drama,1980,June,8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,0.31841,2.52
1,The Blue Lagoon,R,Adventure,1980,July,5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,0.31841,2.52
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,June,8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,0.31841,2.52
3,Airplane!,PG,Comedy,1980,July,7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,0.31841,2.52
4,Caddyshack,R,Comedy,1980,July,7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,0.31841,2.52

In [2968]:
df_movie['trixbudget']= df_movie['gross'] - 3.0*df_movie['budget']

In [2969]:
df_movie['title_char'] = df_movie['name'].str.len()

In [2970]:
df_movie['sequel'] = df_movie['name'].str.extract('(^\d*)')

df_movie['sequels']=df_movie['sequel'].isin([""]).astype(int)

df_movie = df_movie.drop(columns=['sequel'])

In [2971]:
#df_movie['cpi_budget'] = df_movie['budget']/df_movie['cpi']

In [2972]:
df_movie['director_number'] = df_movie.groupby('director')['score'].transform('sum')/df_movie.groupby('director')['score'].transform('count')
df_movie['writer_number'] = df_movie.groupby('writer')['score'].transform('sum')/df_movie.groupby('writer')['score'].transform('count')
df_movie['star_number'] = df_movie.groupby('star')['score'].transform('sum')/df_movie.groupby('star')['score'].transform('count')

In [2973]:
df_movie.head()

,name,rating,genre,year,released,score,votes,director,writer,star,...,company,runtime,cpi,ticket,trixbudget,title_char,sequels,director_number,writer_number,star_number
0,The Shining,R,Drama,1980,June,8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,...,Warner Bros.,146.0,0.31841,2.52,-10001228.0,11,1,8.033333,6.477419,6.610526
1,The Blue Lagoon,R,Adventure,1980,July,5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,...,Columbia Pictures,104.0,0.31841,2.52,45353106.0,15,1,5.862500,5.500000,5.380000
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,June,8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,...,Lucasfilm,124.0,0.31841,2.52,484375067.0,46,1,6.900000,8.700000,8.500000
3,Airplane!,PG,Comedy,1980,July,7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,...,Paramount Pictures,88.0,0.31841,2.52,72953539.0,9,1,6.637500,6.800000,5.850000
4,Caddyshack,R,Comedy,1980,July,7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,...,Orion Pictures,98.0,0.31841,2.52,21846344.0,10,1,6.377778,5.550000,5.955556

In [2974]:
#df_movie['director'] = df_movie['director_number'].apply(lambda x: 'One' if x <= 2 else df_movie['director'])

In [2975]:
df_movie['success'] = df_movie['trixbudget'].map(lambda x: x>0).astype(int)

In [2976]:
df_movie_clean = df_movie.drop(columns=['name', 'trixbudget', 'gross', 'score', 'votes'])

In [2977]:
df_movie_clean.sort_values(by="year", ascending=False)

,rating,genre,year,released,director,writer,star,country,budget,company,runtime,cpi,ticket,title_char,sequels,director_number,writer_number,star_number,success
7667,NaN,Horror,2020,August,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,PK 65 Films,102.0,1.00000,9.16,9,1,5.700000,5.700000,5.700000,0
7655,TV-PG,Animation,2020,October,Teng Cheng,NaN,Guangtao Jiang,China,NaN,Beijing Enlight Pictures,110.0,1.00000,9.16,21,1,6.600000,NaN,6.600000,0
7643,PG-13,Action,2020,September,Christopher Nolan,Christopher Nolan,John David Washington,United States,205000000.0,Warner Bros.,150.0,1.00000,9.16,5,1,8.163636,7.980000,7.450000,0
7645,R,Action,2020,February,Cathy Yan,Christina Hodson,Margot Robbie,United States,84500000.0,Clubhouse Pictures (II),109.0,1.00000,9.16,13,1,6.100000,5.966667,6.800000,0
7646,R,Drama,2020,February,Leigh Whannell,Leigh Whannell,Elisabeth Moss,Canada,7000000.0,Universal Pictures,124.0,1.00000,9.16,17,1,6.900000,6.554545,7.100000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,PG,Drama,1980,September,Daniel Petrie,Lewis John Carlino,Ellen Burstyn,United States,NaN,Universal Pictures,103.0,0.31841,2.52,12,1,6.250000,6.500000,7.300000,0
65,PG,Comedy,1980,February,Anne Bancroft,Anne Bancroft,Dom DeLuise,United States,NaN,Brooksfilms,93.0,0.31841,2.52,5,1,6.300000,6.300000,6.350000,0
66,PG,Comedy,1980,February,Vladimir Menshov,Valentin Chernykh,Vera Alentova,Soviet Union,900000.0,Mosfilm,150.0,0.31841,2.52,32,1,8.100000,8.100000,8.100000,0
67,PG,Comedy,1980,August,Piers Haggard,Rudy Dochtermann,Peter Sellers,United States,NaN,Braun Entertainment Group,100.0,0.31841,2.52,34,1,6.066667,5.100000,5.050000,0
0,R,Drama,1980,June,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,Warner Bros.,146.0,0.31841,2.52,11,1,8.033333,6.477419,6.610526,0

In [2978]:
df_movie_clean = df_movie_clean[df_movie_clean.budget > 15000000]

In [2979]:
df_movie_clean = df_movie_clean[df_movie_clean.year > 1985]
df_movie_clean.nunique()

rating                9
genre                14
year                 35
released             12
director           1236
writer             2004
star                978
country              34
budget              221
company             687
runtime             122
cpi                  35
ticket               34
title_char           57
sequels               2
director_number     488
writer_number       396
star_number         454
success               2
dtype: int64

In [2980]:
df_movie_clean.to_csv('movie_data.csv', index = False)

In [2981]:
df_movie_success = df_movie.loc[df_movie['success'] == 1]

df_movie_failed = df_movie.loc[df_movie['success'] == 0]

In [2982]:
df_movie_clean = df_movie_clean.dropna()

In [2983]:
#director_one = df_movie_clean['director'].value_counts() < 2
#df_movie_clean.loc[df_movie_clean['director'].isin(director_one.index[director_one]), 'director'] = 'One'


director_other = df_movie_clean['director'].value_counts() < 15
df_movie_clean.loc[df_movie_clean['director'].isin(director_other.index[director_other]), 'director'] = 'others'

In [2984]:
#writer_one = df_movie_clean['writer'].value_counts() < 2
#df_movie_clean.loc[df_movie_clean['writer'].isin(writer_one.index[writer_one]), 'writer'] = 'one'

writer_other = df_movie_clean['writer'].value_counts() < 10
df_movie_clean.loc[df_movie_clean['writer'].isin(writer_other.index[writer_other]), 'writer'] = 'others'

In [2985]:
#star_one = df_movie_clean['star'].value_counts() < 2
#df_movie_clean.loc[df_movie_clean['star'].isin(star_one.index[star_one]), 'star'] = 'one'

star_other = df_movie_clean['star'].value_counts() < 11
df_movie_clean.loc[df_movie_clean['star'].isin(star_other.index[star_other]), 'star'] = 'others'

In [2986]:
country_other = df_movie_clean['country'].value_counts() < 25
df_movie_clean.loc[df_movie_clean['country'].isin(country_other.index[country_other]), 'country'] = 'others'

In [2987]:
company_other = df_movie_clean['company'].value_counts() < 100
df_movie_clean.loc[df_movie_clean['company'].isin(company_other.index[company_other]), 'company'] = 'others'

In [2988]:
rating_other = df_movie_clean['rating'].value_counts() < 100
df_movie_clean.loc[df_movie_clean['rating'].isin(rating_other.index[rating_other]), 'rating'] = 'others'

In [2989]:
genre_other = df_movie_clean['genre'].value_counts() < 20
df_movie_clean.loc[df_movie_clean['genre'].isin(genre_other.index[genre_other]), 'rating'] = 'others'

In [2990]:
#df_movie_clean.A.str.extract('(^\d*)')

In [2991]:
df_movie_clean.head()

,rating,genre,year,released,director,writer,star,country,budget,company,runtime,cpi,ticket,title_char,sequels,director_number,writer_number,star_number,success
844,R,Action,1986,July,others,others,others,United Kingdom,18500000.0,Twentieth Century Fox,137.0,0.423506,3.55,6,1,7.871429,7.80,6.618182,1
848,PG,Adventure,1986,June,others,others,others,United Kingdom,25000000.0,others,101.0,0.423506,3.55,9,1,7.266667,7.40,7.350000,0
849,R,Action,1986,March,others,others,others,United Kingdom,16000000.0,others,116.0,0.423506,3.55,10,1,5.900000,5.60,5.690909,0
850,PG-13,Action,1986,July,others,others,Kurt Russell,United States,25000000.0,Twentieth Century Fox,99.0,0.423506,3.55,27,1,6.621429,6.75,6.710000,0
855,PG,Action,1986,August,others,others,others,United States,37000000.0,Universal Pictures,110.0,0.423506,3.55,15,1,4.250000,4.35,4.850000,0

In [2992]:
df_movie_clean.nunique()

rating               4
genre               14
year                35
released            12
director             8
writer               7
star                65
country              6
budget             221
company              7
runtime            122
cpi                 35
ticket              34
title_char          57
sequels              2
director_number    488
writer_number      396
star_number        454
success              2
dtype: int64

In [2993]:
#cpi adjustments:
df_movie_clean['budget'] = df_movie_clean['budget']/df_movie_clean['cpi']
df_movie_clean['ticket'] = df_movie_clean['ticket']/df_movie_clean['cpi']

In [2994]:
df_movie_dummies = pd.get_dummies(df_movie_clean)

In [2995]:
df_movie_dummies.dtypes

year                               int64
budget                           float64
runtime                          float64
cpi                              float64
ticket                           float64
                                  ...
company_Paramount Pictures         uint8
company_Twentieth Century Fox      uint8
company_Universal Pictures         uint8
company_Warner Bros.               uint8
company_others                     uint8
Length: 134, dtype: object

In [2996]:
#df_movie_dummies['budget'] = df_movie_dummies['budget'].reshape(-1, 1)

In [2997]:
y = df_movie_dummies["success"]

X = df_movie_dummies.drop(columns=['success'])

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [2998]:
scaler = StandardScaler()

X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)

X_test_scaled = X_scaler.transform(X_test)

In [3000]:
nn_model = tf.keras.models.Sequential()
nn_model.add(tf.keras.layers.Dense(units=25, activation="sigmoid", input_dim=133))
nn_model.add(tf.keras.layers.Dense(units=8, activation="sigmoid"))
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

fit_model = nn_model.fit(X_train_scaled, y_train, epochs=11)


model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/11
76/76 [==============================] - 1s 2ms/step - loss: 0.9085 - accuracy: 0.3066
Epoch 2/11
76/76 [==============================] - 0s 2ms/step - loss: 0.6650 - accuracy: 0.6041
Epoch 3/11
76/76 [==============================] - 0s 2ms/step - loss: 0.6057 - accuracy: 0.6988
Epoch 4/11
76/76 [==============================] - 0s 2ms/step - loss: 0.5875 - accuracy: 0.6988
Epoch 5/11
76/76 [==============================] - 0s 2ms/step - loss: 0.5780 - accuracy: 0.7041
Epoch 6/11
76/76 [==============================] - 0s 1ms/step - loss: 0.5706 - accuracy: 0.7120
Epoch 7/11
76/76 [==============================] - 0s 2ms/step - loss: 0.5642 - accuracy: 0.7290
Epoch 8/11
76/76 [==============================] - 0s 2ms/step - loss: 0.5582 - accuracy: 0.7324
Epoch 9/11
76/76 [==============================] - 0s 2ms/step - loss: 0.5528 - accuracy: 0.7378
Epoch 10/11
76/76 [==============================] - 0s 2ms/step - loss: 0.5481 - accuracy: 0.7365
Epoch 11/11
76/76 [==============================] - 0s 2ms/step - loss: 0.5439 - accuracy: 0.7398
26/26 - 0s - loss: 0.5466 - accuracy: 0.7500 - 154ms/epoch - 6ms/step
Loss: 0.5465765595436096, Accuracy: 0.75

In [2771]:
df_movie_clean.groupby(by="director").count().sort_values(by="success", ascending=False)["success"].head(20)

director
others              3080
Steven Spielberg      23
Clint Eastwood        22
Ridley Scott          20
Ron Howard            20
Woody Allen           18
Tim Burton            16
Robert Zemeckis       15
Name: success, dtype: int64

In [2594]:
df_movie_clean.groupby(by="writer").count().sort_values(by="success", ascending=False)["success"].head(100)

writer
others              3142
Woody Allen           18
Luc Besson            13
John Hughes           11
Ehren Kruger          10
Michael Crichton      10
Stephen King          10
Name: success, dtype: int64

In [2475]:
df_movie_clean.groupby(by="star").count().sort_values(by="success", ascending=False)["success"].head(100)

star
others                   2419
Tom Hanks                  33
Bruce Willis               33
Robert De Niro             32
Nicolas Cage               32
Denzel Washington          30
Johnny Depp                28
Tom Cruise                 27
Adam Sandler               26
Sylvester Stallone         25
Eddie Murphy               24
Kevin Costner              23
Matt Damon                 23
Harrison Ford              22
Will Smith                 22
Keanu Reeves               22
Mark Wahlberg              22
Ben Stiller                21
Dwayne Johnson             20
Brad Pitt                  20
George Clooney             20
Jim Carrey                 20
Will Ferrell               19
Sandra Bullock             19
Matthew McConaughey        19
Mel Gibson                 19
John Travolta              18
Meryl Streep               17
Arnold Schwarzenegger      17
Ben Affleck                17
Leonardo DiCaprio          17
Robin Williams             16
Liam Neeson                16
Jason Statham              16
Brendan Fraser             15
Robert Downey Jr.          15
Steve Carell               15
Christian Bale             15
Name: success, dtype: int64